table {
  border-collapse: collapse;
}

table td, table th {
  border: 5px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table th {
  padding-top: 16px;
  padding-bottom: 26px;
  text-align: left;
}